
.App {
  text-align: center;
  animation-timing-function: linear;
}

.info-container {
  height: 40vh;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1.5em;
  img {
    width: 17%;
  }
}

.photo-container {
  height: 60vh;
}

.photo-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.index-container {
  height: 40px;
  width: 40px;
  background-image: radial-gradient(farthest-corner at 70px 10px,
      rgb(255, 239, 9) 0%, rgb(16, 116, 141) 100%);
  border-radius: 50%;
  margin: auto;
}

.index {
  color: #ffffff;
  line-height: 40px;
  font-size: 0.6em;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
}

.frame-view-btns-container {
  visibility: hidden;
}

.stock-photo {
  padding-top: 1em;
  padding-bottom: 1em;
}

@media only screen and (min-width: 479px) {
  .frame-view-btns-container {
    visibility: visible;
  }
}
